

/* ==========================================================================
   Media Queries
   ========================================================================== */


@media (max-width: 1359px){
	
   .content-priv {
    padding-left: 8%;

 }

 


}

@media (max-width: 1200px){ 

  .content-priv {
    padding: 10% 10% 0 10%;
}

.policy {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

.privacy-image {
    width: calc(100% - -100%);
    width: 100%;
    text-align: center;
}

.privacy-image img {
    width: auto;
    max-width: 100%;
}



}


@media (max-width: 360px){
	.navbar-light .navbar-nav .signup-bg {
      padding: 18px 16px !important;
      width: inherit !important;
      height: 62px !important;
  }
  .navbar-light .navbar-nav .search-icon {
      padding: 18px 16px !important;
      width: inherit !important;
      height: 62px !important;
   }


}
@media (max-width: 480px){

   .top-infocon p {
    font-size: 18px;
    color: #FFF;
    margin: 0;
    line-height: 1;
    word-break: break-all;
}

.top-infocon a {
    display: block;
    font-size: 18px !important;
    color: #FFF !important;
    line-height: 2;
}

.content-priv h3 {
    font-size: 35px;
    margin-bottom: 10px;
}

}
@media (max-width: 640px){
   .header-nav{
      justify-content: center;
    }
  .testitext {
      position: relative;
      padding: 10px !important;
      left: 0;
      top: 0;
   }
   .testimonialbody img {
      position: relative;
      left: 0;
      top: 35px;
   }
   .testitext p {
      font-size: 13px;
      line-height: 22px;
      color: #fff;
   }
   .newsletter .viewmore {
      width: 98px !important;
   }

   .sidenav {
    height: 100%;
    position: absolute;
}

.full-loginmodal .modal-body {
    flex: 0 0 100%;
    width: 100%;
}

.headinglog {
    font-size: 30px;
    margin-bottom: 25px;
}

.content-priv h3 {
    font-size: 40px;
    margin-bottom: 18px;
}
.r_menu_ul {
        height: 50vh;
        padding-bottom:40px;
}

}
@media (max-width: 768px){
	.banner h1 {
      font-size: 36px !important;
      color: #191919;
      line-height: 42px;
      margin-bottom: 15px;
  }
  .viewmore{
     width: auto;
  }
  .r_menu_ul {
        height: 50vh;
        padding-bottom:40px;
}
  
.content-priv {
    padding: 5% 5% 0 5%;
}

.menulogo {
    width: 228px;
    position: absolute;
    top: 21px;
    right: 30px;
    margin-bottom: 0 !important;
}
   
}
@media (max-width: 860px) {
   .filter-flex{
      flex-direction: column !important;
   }
   .filter-flex .form-group{
      margin: 10px 0px;
   }
   .filter-flex .form-group:last-child{
      justify-content: flex-end !important;
   }
   .filter-flex .form-group:last-child button{
      margin-right: 5px;
   }
   .filter_section{
      justify-content: space-between !important;
      margin: 10px 0px !important;
   }
   .filter_section button{
      margin-right: 5px;
   }
   .newsletter .form-group{
      justify-content: center;
   }
   .form-inline{
      justify-content: flex-start !important;
   }
   .signup-form .form-group{
      flex-direction: column;
   }
   .signup-form .form-group label .btn-link{
      padding-left: 0px;
      font-size: 14px;
   }
   .navbar-light .navbar-nav .signup-bg {
      padding: 12px;
      width: inherit;
      height: auto;
  }
  .navbar-light .navbar-nav .search-icon {
      padding: 12px;
      width: inherit;
      height: auto;
   }
   .navbar-nav {
      -ms-flex-direction: inherit;
      flex-direction: inherit;
  }
  .navbar-brand{
      margin-bottom: 28px;
      text-align: center;
      width: 100% !important;
      display: block !important;
      padding-top: 10px;
  }
  /* .navbar-nav{
     justify-content: center !important;
  } */
  .navbar{
     padding: 0px;
  }
  .pt-6{
     padding-top: 0px !important;
  }
  .banner {
      padding-top: 58px;
      padding-bottom: 58px;
      overflow: hidden;
      height: 443px;
      position: relative;
      margin-bottom: 50px;
   }
   .banner:after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #ffffff;
      opacity: 0.58;
   }
   .banner .row{
      position: relative;
      z-index: 11;
   }
  .newarival h6{
     width: 100% !important;
  }
  .body-title{
     text-align: center;
  }
  .resp_img img{
      width: 100%;
   }
  .body-title h1 {
      font-size: 36px;
      line-height: 48px;
   }
   .body-title h1 span {
      font-size: 40px;
  }
  .appdownload .signbtn{
      margin-bottom: 10px;
  }
  .my_teams h1 {
      font-size: 36px;
   }
   .my_teams .owl-nav .owl-prev {
      left: -36px;
  }
  .my_teams .owl-nav .owl-next {
      right: -36px;
   }
   .newarival{
      padding-top: 0px;
      padding-bottom: 60px;
   }
   .title-inner h1 {
      font-size: 36px;
  }
  .newsletter .col-8{
     padding: 0 !important;
  }
  .newsletter{
   align-items: center;
   text-align: center;
   justify-content: center;
  }
  .newsletter h6 {
      margin-bottom: 20px;
   }
   .newsletter .ml-3{
      margin-left: 0px !important;
   }
   .newsletter h6 span{
      width: 100%;
   }
   .bottom-footer {
      background: #171d23;
      padding: 15px;
  }
  .footer-card {
      border-left: 0;
      padding: 15px 0 8px 0 !important;
   }
   .guitar_banner .keyword, .series_details .keyword {
      background: #ffffff;
      border: #ffffff;
  }
  .banner-about h1 span{
     font-size: 36px;
  }
  .music-cata li {
      margin: 5px;
   }
   .buyfull {
      padding: 8px 5px;
  }
  .buynow-btn {
      bottom: 0;
   }
   .menu-section{
      width: 100%;
      padding: 25px;
    }
    .hidden {
       z-index: 999;
    }
    .menu-section .nav-tabs .nav-link {
      padding: 15px 10px !important;
      width: 86px !important;
   }
   .menu-section .nav-tabs .active {
      padding: 15px 10px !important;
      width: 86px !important;
  }
  .r_menu_ul li a {
      font-size: 14px;
      padding: 15px 65px 15px 30px;
   }
   .testimonial .quote_icon {
      margin-top: -28px;
      width: 44px;
  }
  
}

/*SignUp Style*/
/***********Responsive**************/
@media only screen and (max-width: 576px) 
{
    .padd-area {
        padding-left: 20px;
    }
    .signupacc-text h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .flex-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: wrap;
    }
    .admin-left {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
    }
    .admin-right 
    {
       width: 100%;
       flex: 0 0 100%;
    }
}